# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for data science
* Learn to use Jupyter Notebook
* Learn to use git and GitHub for version control

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used Python libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch
4. Keras
5. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| JupyterLab         |
| Spark              |
| Git

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(4*3)+31/2

27.5

In [2]:
53/2+2

28.5

In [3]:
(34-3)+(4*9)

67

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [9]:
t=200
h=t//60
m=t%60
print("Hours=",h)
print("Minutes=",m)

Hours= 3
Minutes= 20

## Author
Luke K.